name: Test FastAPI Endpoint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-nvg-api:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install test tools
      run: pip install requests pytest numpy

    - name: Set up Docker network
      run: docker network create fastapi_test_network

    - name: Build and Run api_tcp_aw2s Docker container
      run: |
        docker build -t api_tcp_aw2s ./api_tcp_aw2s
        docker run -d --network fastapi_test_network --name api_tcp_aw2s -p 8000:80 api_tcp_aw2s
        for i in {1..10}; do
          if curl -s http://localhost:8000/docs; then
            echo "API is up!"
            break
          fi
          echo "Waiting for API..."
          sleep 3
        done

    - name: Build and Run api_tcp_nokia Docker container
      run: |
        docker build --no-cache -t api_tcp_nokia ./api_tcp_nokia
        docker run -d --network fastapi_test_network --name api_tcp_nokia -p 8001:80 api_tcp_nokia
        for i in {1..10}; do
          if curl -s http://localhost:8001/docs; then
            echo "API is up!"
            break
          fi
          echo "Waiting for API..."
          sleep 3
        done

    - name: Build and Run api_udp_aw2s Docker container
      run: |
        docker build --no-cache -t api_udp_aw2s ./api_udp_aw2s
        docker run -d --network fastapi_test_network --name api_udp_aw2s -p 8002:80 api_udp_aw2s
        for i in {1..10}; do
          if curl -s http://localhost:8002/docs; then
            echo "API is up!"
            break
          fi
          echo "Waiting for API..."
          sleep 3
        done

    - name: Build and Run api_udp_nokia Docker container
      run: |
        docker build --no-cache -t api_udp_nokia ./api_udp_nokia
        docker run -d --network fastapi_test_network --name api_udp_nokia -p 8003:80 api_udp_nokia
        for i in {1..10}; do
          if curl -s http://localhost:8003/docs; then
            echo "API is up!"
            break
          fi
          echo "Waiting for API..."
          sleep 3
        done

    - name: Run API tests
      run: pytest tests/

    - name: Cleanup containers
      run: |
        docker stop api_tcp_aw2s api_tcp_nokia api_udp_aw2s api_udp_nokia
        docker rm api_tcp_aw2s api_tcp_nokia api_udp_aw2s api_udp_nokia
        docker network rm fastapi_test_network